$pinkColor: #f595bb;
$redColor: #c70c0c;

// scss variable control theme switching
$themes: (
    light: (
        bgColor: #ffffff80,
        textColor: #1c1c1c,
        fullBarColor: $pinkColor,
        orgTextColor: #222
    ),
    dark: (
        bgColor: #111111c0,
        textColor: #cccccc,
        fullBarColor: $redColor,
        orgTextColor: #efefef
    )
);

$navHeight: 80px;
$controllerHeight: 75px;
