$pinkColor: #f595bb;
$redColor: #c70c0c;
$yellowColor: #f5f2e9ff;
// scss variable control theme switching
$themes: (
    light: (
        bgColor: $yellowColor,
        textColor: #1c1c1c,
        fullBarColor: $pinkColor,
        orgTextColor: #222,
        orgBgColor: #f3f0e7,
        selectedColor: #e4e1d8,
        lightBgColor: #eeeeee40,
        swiperBgColor: #f8f8f880,
        main: url("~/assets/background/main_light.png")
    ),
    dark: (
        bgColor: #111111f0,
        textColor: #cccccc,
        fullBarColor: $redColor,
        orgTextColor: #eeeeee,
        orgBgColor: #222,
        selectedColor: #333,
        lightBgColor: #11111140,
        swiperBgColor: #11111180,
        main: url("~/assets/background/main_dark.png")
    )
);

$navHeight: 80px;
$controllerHeight: 75px;
$ListHeight: 560px;
